/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  scroll-behavior: smooth;
}

h1,
h2,
h4 {
  line-height: 1.7em;
}

h1 { font-size: 56px;}

h2 { 
  font-size: 48px;
  font-weight: lighter;
}

h4 { 
  font-size: 19px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.4em;
}

a:visited {
  color: #fff;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.large {
  font-size: 25px;
}

.small {
  font-size: 14px;
}

.box-3 {
  float: left;
  width: 33%;
}

.btn-dark {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #4d4d4d;

}

.btn-light {
  display: inline-block;
  background: #ffc038;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
}

/* Header */
#main-header {
  background: #fff;
  color: #fff;
  height: 100vh;
}

#home-cover {
  background: #35afe1;
  height: 80vh;
}

/* Nav */
#navbar {
  background: #35afe1;
  height: 100px;
}

#navbar h1 {
  float: left;
  font-size: 28px;
  font-weight: lighter;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
  padding-top: 20px;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 15px;
  text-align: center;
}

#navbar ul li:nth-child(1) {
  padding-right: 10px;
}

#navbar ul li:nth-child(2) {
  padding-right: 15px;
}

#navbar ul li a:hover {
  color: #1a84af;
}

/* Showcase */
#showcase {
  padding-top: 20px;
}

#showcase .showcase-book{
  float: left;
  padding-top: 40px;
} 

#showcase .showcase-book img {
  height: 550px;
}

#showcase .showcase-content {
  padding: 130px 90px 90px 90px;
}

#showcase .showcase-content a{
  margin-top: 20px;
}

/* Author */
#author {
  height: 500px; 
  padding-top: 20px;
}

#author .author-img {
  float: left;
  padding: 90px;
}

#author img {
  border-radius: 50%;
  height: 300px;
}

#author .author-content {
  padding: 130px;
}

/* Book */
#book {
  background: #f9f9f9;
  padding: 30px 0px 40px 30px;
}

#book img {
  box-shadow: 10px 10px 3px #c4c4c4;
}

#book h2 {
  padding: 20px;
}

#book h4 {
  padding-top: 20px;
}

#book p {
  
  padding: 10px 80px 30px 0;
}

/* Buy */
#buy {
  background: #35afe1;
  color: #fff;
  /* height: 600px; */
  height: 100%;
  /* padding-top: 70px; */
  padding: 50px;
}

#buy .buy-img {
  float: left;
  width: 50%;
  padding-left: 50px;
}

#buy .buy-img img {
  height: 500px;
}

#buy h2 {
  padding-top: 140px;
}

#buy .buy-stores {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}

#buy .buy-stores ul {
  list-style: none;
}

#buy .buy-stores ul li {
  display: inline;
  padding: 20px;
}

#buy .buy-stores ul li img {
  border-radius: 5px;
}

/* Footer */
#main-footer {
  background: #35afe1;
  color: #fff;
  padding: 30px;
  text-align: center;

}